* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    box-shadow: none;
}

.user-select * {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

::-moz-selection {
    background: rgba(10, 25, 43, 0.4);
    color: #ffffff;
}

::selection {
    background: rgba(10, 25, 43, 0.4);
    color: #ffffff;
}

body {
    margin: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

button {
    background: transparent;
    color: auto;
    outline: none;
    border: none;
}

input {
    background: transparent;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
    overflow-y: auto;
}

header {
    z-index: 1;
}

textarea {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 1px;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}